.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
}

.App-header h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: black;
}

.tab.active {
  background-color: #61dafb;
}

.tab:not(:last-child) {
  margin-right: 10px;
}
